# Credentials
.env

# Environment
venv/
env/
.venv/

# Python
__pycache__/
*.pyc

# Database
*.db

# Temporary/Internal
smart-aqi-monitor-clean/
verify_imports.py
.vscode/
pyrightconfig.json

# Logs
server_log.txt
